/* Styles for gallery page */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 16px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.sl-overlay {
  background: rgba(46, 47, 66, 0.8) !important;
}
/* Styles for gallery page */
